<link rel="stylesheet" href="/css/profile.css">

<div class="container" id="outer">
    <h6 class="display-6">Profile Information</h6>
    <div class="row" id="inner">
        <form action="/user/update/<%= user.id %>" method="POST">

            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text"  class="form-control" id="staticEmail" name="name" value="<%= user.name %>">
              </div>
            </div>
      
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <p><%=  user.email %></p>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-success col-sm-5 mx-2 ">Update</button>
              
              
            </div>
            
      
      </form>

    </div>
    

</div>

